

@media (max-width: 768px) {
    header{
        justify-content: space-between;
    }
   
    header > img{
        height: 100%;
        margin: 1rem;
    }
    header > span {
        font-size: 30px;
        margin-left: 20px; 
    }
    nav{
        display: grid;
        grid-template-rows: 0fr;
        transition: grid-template-rows 0.5s ease-out;
    }

    nav ul{
        overflow: hidden;
    }

    nav#animateme.open{
        grid-template-rows: 1fr;

    }
     nav ul{
        flex-direction: column;
     }
    .hamburger.open::before{
        content: "X";
    }

    nav > ul > li {  
        
        margin-bottom: 10px;
        cursor: pointer;
        text-align: start;
    }
  
 
   .cards{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    main {
        height: auto; 
    }

    footer {
        font-size: 13px; 
    }
}

@media (min-width: 768px) {
    .hamburger{
        display: none;
          
    }
}

@media (max-width: 1024px) {
    header > img
        {
           width: 100px;
           height: 100%;
        } 
   
    header > span {
        font-size: 40px; 
        margin-left: 30px;
    }

    nav > ul {
        justify-content:center; 

    }
    nav > ul li{
        width: 100%;
        
    }

}


@media (min-width: 1280px) {
    header > span {
        font-size: 50px; 
    }

    nav > ul > li {
        width: 100%; 
    }

    main {

        padding: 40px; 
    }
}
