

@media (max-width: 768px) {
    header > img{
        height: 100%;
    }
    header > span {
        font-size: 30px;
        margin-left: 20px; 
    }
    nav ul {
        display: flex;
        flex-direction: column;

    }
  
 
   .cards{
        display: flex;
        flex-direction: column; 
        justify-content: center;
    }

    main {
        height: auto; 
    }

    footer {
        font-size: 13px; 
    }
}

@media (max-width: 1024px) {
    header > img
        {
           width: 100px;
           height: 100%;
        } 
   
    header > span {
        font-size: 40px; 
        margin-left: 30px;
    }

    nav > ul {
        justify-content:center; 

    }
    nav > ul li{
        width: 100%;
        
    }

}


@media (min-width: 1280px) {
    header > span {
        font-size: 50px; 
    }

    nav > ul > li {
        width: 100%; 
    }

    main {

        padding: 40px; 
    }
}
