/* Para dispositivos móveis */
@media (max-width: 768px) {
    header > span {
        font-size: 30px; /* Reduz o tamanho da fonte no header */
        margin-left: 20px; /* Menos espaço entre a imagem e o texto */
    }

    nav > ul {
        flex-direction: column; /* Alinha os itens verticalmente */
        margin-top: 0;
    }

    nav > ul > li {
        width: 100%;
        margin-right: 0;
        height: 60px;
    }

    nav > ul > li > a {
        font-size: 18px; /* Reduz o tamanho da fonte nos links de navegação */
        padding-top: 18px;
    }

    .cards {
        grid-template-columns: 1fr; /* Exibe uma coluna apenas em telas pequenas */
    }

    main {
        height: auto; /* Permite que o conteúdo principal ocupe altura variável */
    }

    footer {
        font-size: 13px; /* Reduz o tamanho da fonte no rodapé */
    }
}

/* Para dispositivos maiores (ex. tablets e laptops) */
@media (max-width: 1024px) {
    header > span {
        font-size: 40px; /* Ajuste o tamanho da fonte para telas médias */
        margin-left: 30px; /* Ajuste a margem para telas médias */
    }

    nav > ul {
        justify-content: flex-start; /* Muda os itens de navegação para a esquerda */
    }

    .cards {
        grid-template-columns: 1fr 1fr; /* Duas colunas para telas médias */
    }
}

/* Para telas grandes (desktops) */
@media (min-width: 1280px) {
    header > span {
        font-size: 50px; /* Aumenta o tamanho da fonte para telas grandes */
    }

    nav > ul > li {
        width: 150px; /* Aumenta o tamanho dos itens de navegação */
    }

    main {
        padding: 40px; /* Aumenta o espaçamento interno para telas grandes */
    }
}